link(rel="stylesheet"
	type="text/css"
	href="/stylesheets/bootstrap.min.css")
link(rel="stylesheet"
	type="text/css"
	href="/stylesheets/jumbotron-narrow.css")
link(rel="stylesheet"
	type="text/css"
	href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css")
link(rel="stylesheet"
	type="text/css"
	href="/stylesheets/global.css")

block pagespecificstyles